* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html{
  scroll-behavior: smooth;
}
:root{
  --main-color:#19c8fa;
  --trns-colo: rgb(15 116 143 /70%);
  --section-padding:100px
}

body {
  font-family:"Open Snas",sans-serif;

}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

}

@media(min-width:768px) {
  .container {
      width: 750px;
  }
}

@media(min-width:992px) {
  .container {
      width: 970px;
  }
}

@media(min-width:1200px) {
  .container {
      width: 1170px;
  }
}

